body {
    font-family: 'Roboto', sans-serif;
}
center {
    width: 420px;
    max-width: 100%;
    margin: 0px auto;
    color: #444;
}

header {
    background-color: #00878F;
    color: white;
    padding: 6px;
    box-shadow: 1px 1px 5px #555555;
    position: relative;
}

h1 {
    margin: 0px;
    font-size: 32;
}

center>div {
    padding: 24px 10px 10px 10px;
    /*box-shadow: 1px 1px 5px #555555;*/
}

.button {
    text-decoration: none;
    border: none;
    color: white;
    background-color: #00878F;
    padding: 6px 24px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 6px #555;
    outline: none;
    margin: 12px auto 0px auto;
    display: inline-block;
    width: 20;
}

.button:hover {
    box-shadow: 1px 1px 3px #444;
}

#inverterImage{
  border:3px double;
  margin-top:1em;
  margin-bottom:1em;
}
input[type=date]{
  width: auto;
  height: auto;
  font-size: 3vh;
}
input[type=time]{
  width: auto;
  height: auto;
  font-size: 3vh;
}

input[type=checkbox] {
    transform: scale(2);
}
input[type=number] {
  width: 13vh;
  height: auto;
  font-size: 1em;
}
input[type=button]{
  font-size: 0.8em;
}
.opis{
  font-size: 3vh;
}
